body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;

    margin-right: 20px;
}

a:hover {
    color: yellow;
}

h1 {
    font-size: 80px;
    font-family: Arial, sans-serif;
}

.coasts {
    display: flex;
}

.east,
.west {
    flex: 1;
}

.years button {
    cursor: pointer;
}

.years button:hover {
    background-color: yellow;
    color: black;
}

.years button.active {
    background-color: yellow;
    color: black;
}